{# Carga la barra de navegación navbar.html #}
{% extends 'navbar.html' %}

{# Titulo de la pagina #}
{% block title %}Empleados{% endblock %}

{% block content %}


<body>

    <!-- esta es la tabla de los empleados -->
    <div class="card shadow-sm mx-auto mt-4" style="max-width: 800px;">
        <h3 class="text-center mb-3 mt-3 fw-bold text-primary fs-3 text-uppercase">
            <i class="bi bi-card-list me-2"></i>Lista de Empleados
        </h3>

        {% block table %}
        <!-- Div para encerrar la table en una altura maxima de 550px -->
        <div class="overflow-auto" style="max-height: 550px;">
            <table class="table table-striped table-hover m-0">

                <!-- Mantener los títulos de las columnas arriba -->
                <thead class="sticky-top bg-white">

                    <tr>
                        <th>Nombre</th>
                        <th>Salario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in empleados %}
                    <tr>
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.salario}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No hay empleados registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}

    </div>



</body>
{% endblock %}