{# Carga la barra de navegación navbar.html #}
{% extends 'navbar.html' %}

{# Titulo de la pagina #}
{% block title %}Insertar Empleado{% endblock %}

{% block content %}

<!--Contenedor que centra el contenido y coloca margin top de 5-->
<div class="row justify-content-center mt-4">

    <!-- Abarca 12 columnas en celular, 6 mantalla mediana y 5 pantalla grande -->
    <div class="col-12 col-md-6 col-lg-5">

        <!-- Tarjeda de fondo blanco, sombra y padding de 4, bordes redondeados -->
        <div class="card shadow p-4 bg-white rounded mb-4">

            <!-- Titulo del formulario, centrado, margen-bottom 4, color primary, negrita  -->
            <h3 class="text-center mb-4 fw-bold text-primary fs-3 text-uppercase">
                <i class="bi bi-person-plus-fill me-2"></i>Insertar Empleado
            </h3>

            <!--Formulario-->
            <form id="formEmpleado" action="/insertar_empleado/" method="POST">
                {% csrf_token %}

                <!--Campo para el nombre-->
                <div class="mb-3">
                    <label for="nombre" class="form-label fw-semibold fs-5">
                        <i class="bi bi-person-fill me-2 fs-2 align-middle"></i>
                        <span class="align-middle ">Nombre:</span>
                    </label>
                    <input name="nombre" type="text" class="form-control" id="nombre" aria-describedby="nombreHelp">
                    <div id="nombreHelp" class="form-text">Debe contener únicamente valores alfabéticos o un guión.
                    </div>
                </div>

                <!--Campo para el salario-->
                <div class="mb-3">
                    <label for="salario" class="form-label fw-semibold fs-5">
                        <i class="bi bi-cash-coin me-2 fs-2 align-middle"></i>
                        <span class="align-middle ">Salario:</span>
                    </label>
                    <input name="salario" type="text" class="form-control" id="salario" aria-describedby="salarioHelp">
                    <div id="salarioHelp" class="form-text">Debe contener solo dígitos o punto decimal, máximo de 2 o 4
                        decimales.</div>
                </div>

                <button type="submit" class="btn btn-primary w-100 fw-bold text-uppercase py-2">
                    Insertar
                </button>

                <!-- Div para mostrar mensajes y excepciones de validación -->
                 <div class="mt-3" id="seccionErrores">
                    {% if messages %} 
                        {% for message in messages %}
                        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} d-flex align-items-start" role="alert">
                            {% if message.tags == 'success' %}
                                <i class="bi bi-check-circle-fill me-2 fs-5"></i>
                            {% else %}
                                <i class="bi bi-exclamation-circle-fill me-2 fs-5"></i>
                            {% endif %}
                            <div>
                                <strong>{% if message.tags == 'success' %}Éxito:{% else %}Error:{% endif %}</strong> {{ message }}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>

            </form>

            <!--Lógica de validación js en la ui -->
            <script>
                // Función que verifica que el nombre sea correcto
                // Recibe como parámetro un texto de nombre
                // Retorna true si no está vacío y cumple con el patrón
                function validarNombre(nombre) {
                    if (nombre === "") return false;
                    const patNombre = /^[A-Za-záéíóúÁÉÍÓÚñÑ\s-]+$/; //Letas A-Z, a-z o tildes, ñ, espacios o guion
                    return patNombre.test(nombre); //Test compara el texto con el patron
                }

                // Función que valida el salario ingresado
                // Recibe un texto de salario
                // Retorna true si no está vacío y cumple con el patrón.
                function validarSalario(salario) {
                    if (salario === "") return false;
                    const patSalario = /^\d+(\.\d{2,4})?$/; //Numeros enteros o decimales con punto, de 2 a 4
                    return patSalario.test(salario);
                }

                //Evitar que la página se recargue
                document.getElementById('formEmpleado').addEventListener('submit', function (event) {
                    event.preventDefault();

                    //Captura valores del input del form por id y eliminación de espacios al inicio y final
                    const txtNombre = document.getElementById('nombre').value.trim();
                    const txtSalario = document.getElementById('salario').value.trim();

                    //Sección donde se muestran errores de valdación 
                    const divErrores = document.getElementById('seccionErrores');
                    divErrores.innerHTML = "";

                    // Si ambos campos son válidos, procede con la BD
                    if (validarNombre(txtNombre) && validarSalario(txtSalario)) {
                        document.getElementById('formEmpleado').submit();
                        return;
                    }

                    // Variable para almacenar los errores que surjan.
                    let listaErrores = "";

                    if (!validarNombre(txtNombre)) {
                        listaErrores += "<li>El nombre no puede estar vacío y debe contener solo letras o guion.</li>";
                    }
                    if (!validarSalario(txtSalario)) {
                        listaErrores += "<li>El salario no puede estar vacío y debe contener solo dígitos o punto decimal con 2 a 4 dígitos.</li>";
                    }

                    //Inserción de errores al divErrores
                    divErrores.innerHTML = `
                        <div class="alert alert-danger d-flex align-items-start" role="alert">
                            <i class="bi bi-exclamation-circle-fill me-2 fs-5"></i>
                            <div>
                                <strong>Error:</strong>
                                <ul class="mb-0 mt-1 ps-3">${listaErrores}</ul>
                            </div>
                        </div>
                    `;
                });
            </script>

        </div>
    </div>


</div>
{% endblock %}